services:
  mongo:
    image: mongo:latest
    container_name: mongo_nimo
    restart: "no"
    ports:
      - "27018:27017"
    environment:
      MONGO_INITDB_ROOT_USERNAME: admin
      MONGO_INITDB_ROOT_PASSWORD: admin123
    volumes:
      - ./data:/data/db
    networks:
      - mongo_network  

networks:
  mongo_network:        
    driver: bridge
    ipam:
      config:
        - subnet: 192.168.100.0/24
